*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* div{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
} */
.briefcase{
    width: 80px;
}
.notepad{
    margin: 0 auto 80px;
    width: 45px;
}
/* div{
    display: flex;
    flex-direction: column;
} */