*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
html{
    background: url("src/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    /* background: black; */
    text-align: center;
    color: #fff;
}
#welcome-screen, .main-function, #calc-screen{
    margin: 10% auto;
    width: 90%;
    height: 90vh;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}
#result-screen, #js-error-message{
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1em;
    padding-bottom: 1em;
    color: #000000;
}
#welcome-screen div, #calc-screen div, #js-error-message{
    line-height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#welcome-screen div img{
    width: 100%;
}
#welcome-screen div h1{
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;

}
.welcome-button{
    margin-top: 20px;
    width: 144px;
    height: 40px;
}
.welcome-button, #user-input-form button ,.result-screen-div button, .refresh-page-button{
    cursor: pointer;
    border-radius: 15px 15px 6px 6px;
    border-style: none;
    background: rgba(245,212,103,1);
    background: -moz-linear-gradient(top, rgba(245,212,103,1) 0%, rgba(245,212,103,1) 28%, rgba(250,154,0,1) 59%, rgba(250,154,0,1) 93%, rgba(209,125,0,1) 94%, rgba(209,125,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,212,103,1)), color-stop(28%, rgba(245,212,103,1)), color-stop(59%, rgba(250,154,0,1)), color-stop(93%, rgba(250,154,0,1)), color-stop(94%, rgba(209,125,0,1)), color-stop(100%, rgba(209,125,0,1)));
    background: -webkit-linear-gradient(top, rgba(245,212,103,1) 0%, rgba(245,212,103,1) 28%, rgba(250,154,0,1) 59%, rgba(250,154,0,1) 93%, rgba(209,125,0,1) 94%, rgba(209,125,0,1) 100%);
    background: -o-linear-gradient(top, rgba(245,212,103,1) 0%, rgba(245,212,103,1) 28%, rgba(250,154,0,1) 59%, rgba(250,154,0,1) 93%, rgba(209,125,0,1) 94%, rgba(209,125,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,212,103,1) 0%, rgba(245,212,103,1) 28%, rgba(250,154,0,1) 59%, rgba(250,154,0,1) 93%, rgba(209,125,0,1) 94%, rgba(209,125,0,1) 100%);
    background: linear-gradient(to bottom, rgba(245,212,103,1) 0%, rgba(245,212,103,1) 28%, rgba(250,154,0,1) 59%, rgba(250,154,0,1) 93%, rgba(209,125,0,1) 94%, rgba(209,125,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d467', endColorstr='#d17d00', GradientType=0 );
}
#user-input-form, .result-screen-div{
    width: 90%;
    margin: 20px auto;
}
input, button{
    width: 80%;
    font-size: 16px;
}
.input-section{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
#quantity{
    width: 20%;
    margin-left: 5px;
}
label{
    margin-right: 10px;
    font-size: 16px;
}
#user-list{
    width: 60%;
}
.hide{
    display: none;
}
#user-input-form{
    padding-top: 10%;
}
#user-input-form, #result-screen h2{ 
    font-size: 1.25em;
    font-weight: 600;
}
.input-section input{
    border-radius: 15px;
    padding: 8px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.22);
    color: #fff;
}
.input-section input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
#user-input-form button, .result-screen-div button, .refresh-page-button{
    padding: 10px;
}
.result-list li{
    list-style-type: none;
}
.result-list{
    display: flex;
    justify-content: space-between;
}
.result-header{
    margin-bottom: 1em;
}
@media only screen and (min-width: 568px){
    #welcome-screen div img{
        width: 50%;
    }
    #welcome-screen, .main-function, #calc-screen{
        margin: 2% auto;
    }
    #result-screen{
        margin: 2% auto;
    }
    #user-input-form{
        padding-top: 5%;
    }
    input, button{
        width: 45%;
    }
}